{% extends "layouts/layout.html" %}

{% block content %}
<div class="flex flex-col justify-center items-center h-screen mt-[-4rem]">
    <div class="flex flex-col  items-center bg-white rounded-3xl p-8">
        <div class="text-3xl font-extrabold mb-8">
            Créer un nouveau groupe
        </div>
        <div class="flex flex-col items -start">
            <form action="/create_group" method="post">
                <h3 class="mb-2 text-xl bold border-b">Information du groupe</h3>
                <div class="flex flex-col">
                    <div class="flex groupe">
                        {% with type="text", name="name", placeholder="Team de rêve", label="Nom du groupe"%}
                        {% include "components/input.html" %}
                        {% endwith %}
                    </div>
                </div>
                <div class="my-8 w-full border-b"></div>
                <div class="flex w-full flex-col items-center">
                    <button type="submit" class="relative mx-auto py-2 px-8 text-black text-base font-bold uppercase rounded-[50px] overflow-hidden bg-white transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-blue-500 before:to-blue-300 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-[50px] hover:before:left-0">
                        Créer le groupe
                   </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}