{% extends "layouts/layout.html" %}
{% block content %}

<div class="w-full overflow-hidden mt-[-4rem] h-[100vh] bg-gradient-to-r from-sky-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%">
    <div class="relative z-10 left-[25%] top-[35%]">
        <img class="z-10  mb-[2rem] w-[40rem]"
            src="https://see.fontimg.com/api/renderfont4/Ea2Pr/eyJyIjoiZnMiLCJoIjoxNTMsInciOjEwMDAsImZzIjoxNTMsImZnYyI6IiNFOUVGRUUiLCJiZ2MiOiIjRkZGRkZGIiwidCI6MX0/UmVuZGV6LXZvdXM/cinnamon-coffe-cake.png"
            alt="Calligraphy fonts">
        <span class="text-2xl pt-16 text-cyan-200  font-semibold "> Rendez-vous : L'application où chaque jour est
            une opportunité de créer des souvenirs.</span>
    </div>
    <a class="left-[35%] relative top-[45%] bg-gradient-to-r text-3xl  from-purple-400 to-blue-500 hover:from-pink-500 hover:to-purple-600 text-white font-bold py-6 px-12 rounded-full shadow-lg transform transition-all duration-500 ease-in-out hover:scale-110 hover:brightness-110 hover:animate-pulse active:animate-bounce" href="/auth/register">Rejoindre</a>

</div>

{% endblock %}

